@model dica.Models.Investment

<div>
    <h4>Investment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestmentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestmentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
